html {
    background-color: #E8ECF3;
} /* alice blue background */

body {
    margin-bottom: 100px;
}

a {
    color: #a5b5d2;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
} /* powder blue links */

.container {
    max-width: 700px;
    margin: 0 auto;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.about {
}

.main_menu {
    margin-right: 50px;
    border-radius: 5px;
}

.main_title {
    text-align: left;
    font-size: 40px;
    margin: 80px 0 30px 0;
    color: #748C69db;
    font-weight: 600;
} /* reseda green title */

.title {
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: #222;
} /* unused */

.header {
    text-align: left;
    font-size: 30px;
    color: #222;
} /* unused */

.title_font {
    font-family: "Montserrat", sans-serif;
}

.sans_font {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.main_body {
    font-size: 20px;
    margin: 0 0 30px 0;
    line-height: 148%;
    font-weight: 300;
}
